<!DOCTYPE html>
<html>
<head>
	<title>GMC Report</title>

	<style>
	html,body {
		font-family: Helvetica,Arial,sans-serif;
		font-size: .9em;
	}
	th {
		border-bottom: 1px solid gray;
		text-align: left;
	}
	tr:nth-child(even) {
		background-color: #eee;
	}
	th,td {
		padding: 5px;
	}

	</style>

</head>
<body>

<table>
	<thead>
		<th width="165">Name</th>
		<th width="90">Need Photo</th>
		<th width="90">Need Bio</th>
	</thead>
	<tbody>
	
	<% guide_entries.each do |entry| %>
		<tr>
			<td><%= entry.name %></td>
			<td><%= entry.image.nil? || entry.image.empty? ? "Yes" : "" %></td>
			<td><%= entry.data.nil? || entry.data.empty? ? "Yes" : "" %></td>
		</tr>
	<% end %>

	</tbody>
</table>

</body>
</html>