<!DOCTYPE html>
<html>
<head>
	<title>GMC Report</title>

	<style>
	html,body {
		font-family: Helvetica,Arial,sans-serif;
		font-size: .9em;
	}
	th {
		border-bottom: 1px solid gray;
		text-align: left;
	}
	tr:nth-child(even) {
		background-color: #eee;
	}
	th,td {
		padding: 5px;
	}

	</style>

</head>
<body>

<table>
	<thead>
		<th width="165">Name</th>
		<th width="90">Need Photo</th>
		<th width="90">Need Bio</th>
		<th width="30"><img src="/images/check" width="24" height="24" title="Good to go!"/></th>
	</thead>
	<tbody>
	
	<% guide_entries.each do |entry| 

		needImage = entry.image.nil? || entry.image.empty?
		needBio = entry.data.nil? || entry.data.empty?
		%>
		<tr>
			<td><%= entry.name %></td>
			<td><%= needImage ? "Yes" : "" %></td>
			<td><%= needBio ? "Yes" : "" %></td>
			<td>
				<%= 
					if !needImage && !needBio 
						"<img src=\"/images/check\" width=\"24\" height=\"24\"  title=\"Good to go!\"/>"
					end
				%>
			</td>
		</tr>
	<% end %>

	</tbody>
</table>

</body>
</html>